name: Build Whitelist Plugin

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        include-prerelease: true 

    - name: Restore dependencies
      # 指定去 src 找你的官方原版 csproj
      run: dotnet restore src/Whitelist.csproj

    - name: Publish Plugin
      run: dotnet publish src/Whitelist.csproj --configuration Release

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Whitelist-Package
        path: |
          build/publish/Whitelist/
          Whitelist.zip
